src/axis/client/pruebas.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://servicios" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://servicios" xmlns:intf="http://servicios" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2
Built on May 03, 2005 (02:20:24 EDT)-->

   <wsdl:message name="saludoResponse">

      <wsdl:part name="saludoReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="SumaRequest">

      <wsdl:part name="num1" type="xsd:int"/>

      <wsdl:part name="num2" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="SumaResponse">

      <wsdl:part name="SumaReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="saludoRequest">

   </wsdl:message>

   <wsdl:portType name="pruebas">

      <wsdl:operation name="saludo">

         <wsdl:input message="impl:saludoRequest" name="saludoRequest"/>

         <wsdl:output message="impl:saludoResponse" name="saludoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="Suma" parameterOrder="num1 num2">

         <wsdl:input message="impl:SumaRequest" name="SumaRequest"/>

         <wsdl:output message="impl:SumaResponse" name="SumaResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="pruebasSoapBinding" type="impl:pruebas">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="saludo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saludoRequest">

            <wsdlsoap:body namespace="http://servicios" use="literal"/>

         </wsdl:input>

         <wsdl:output name="saludoResponse">

            <wsdlsoap:body namespace="http://servicios" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Suma">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SumaRequest">

            <wsdlsoap:body namespace="http://servicios" use="literal"/>

         </wsdl:input>

         <wsdl:output name="SumaResponse">

            <wsdlsoap:body namespace="http://servicios" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="pruebasService">

      <wsdl:port binding="impl:pruebasSoapBinding" name="pruebas">

         <wsdlsoap:address location="http://localhost:8080/SoapAxisJava6_war_exploded/services/pruebas"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
